.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #000;
	opacity: .9;
	filter: alpha(opacity=90)
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none!important;
	-webkit-backface-visibility: hidden
}

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px
}

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

.mfp-align-top .mfp-container:before {
	display: none
}

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%
}

.mfp-ajax-cur {
	cursor: progress
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
	cursor: auto
}

.mfp-arrow:focus {
	outline: none;
	cursor: pointer
}

.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.mfp-loading.mfp-figure {
	display: none
}

.mfp-hide {
	display: none!important
}

.mfp-preloader {
	color: #ccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -.8em;
	left: 8px;
	right: 8px;
	z-index: 1044
}

.mfp-preloader a {
	color: #ccc
}

.mfp-preloader a:hover {
	color: #fff
}

.mfp-s-ready .mfp-preloader,
.mfp-s-error .mfp-content {
	display: none
}

button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	padding: 0;
	z-index: 1046;
	-webkit-box-shadow: none;
	box-shadow: none
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.mfp-close {
	display: none
}

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #ccc;
	font-size: 12px;
	line-height: 18px
}

.mfp-arrow {
	position: absolute;
	opacity: .5;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.mfp-arrow:active {
	margin-top: -54px
}

.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin: 35px 0 0 35px;
	border: medium inset transparent
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
	border-top-width: 21px;
	border-bottom-width: 21px
}

.mfp-arrow-left {
	left: 0
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
	border-right: 17px solid #fff;
	margin-left: 31px
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
	margin-left: 25px
}

.mfp-arrow-right {
	right: 0
}

.mfp-arrow-right:after,
.mfp-arrow-right.mfp-a {
	border-left: 17px solid #fff;
	margin-left: 39px
}

.mfp-iframe-holder {
	padding: 40px 0
}

.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px
}

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000
}

img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	padding: 40px 0;
	margin: 0 auto
}

.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444
}

.mfp-figure {
	line-height: 0
}

.mfp-bottom-bar {
	margin: -36px 0 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%
}

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #f3f3f3;
	word-wrap: break-word;
	padding: 0 36px 0 0
}

.mfp-figure small {
	color: #bdbdbd;
	display: block;
	font-size: 12px;
	line-height: 14px
}

.mfp-image-holder .mfp-content {
	max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer
}

@media screen and (max-width:800px) and (orientation: landscape),
screen and (max-height:300px) {
	.mfp-img-mobile .mfp-image-holder {
		padding: 0
	}
	.mfp-img-mobile img.mfp-img {
		padding: 0
	}
	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0
	}
	.mfp-img-mobile .mfp-bottom-bar {
		position: fixed;
		top: auto;
		bottom: 0;
		margin: 0;
		padding: 3px 5px;
		background: rgba(0, 0, 0, 0.6)
	}
	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0
	}
	.mfp-img-mobile .mfp-counter {
		top: 3px;
		right: 5px
	}
	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px
	}
}

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75)
	}
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0
	}
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%
	}
	.mfp-container {
		padding: 0 6px
	}
}

.mfp-ie7 .mfp-img {
	padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
	width: 600px;
	left: 50%;
	margin: 5px 0 0 -300px;
	padding: 0 0 5px
}

.mfp-ie7 .mfp-container {
	padding: 0
}

.mfp-ie7 .mfp-content {
	padding: 44px 0 0
}

.mfp-fade .mfp-bg {
	opacity: 0
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: .9
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0
}



.icon::before {
	font-style: normal;
	font-weight: 900;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}

.menu::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f0c9';
}

.search::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f002';
}

.heart::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f004';
}

.plus::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f067';
}

.pencil::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f303';
}

.reblog::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f079';
}

.comment::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f075';
}

.vcard::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f2c2';
}

.rss::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f09e';
}

.behance::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f1b4';
}

.github::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f09b';
}

.flickr::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f16e';
}

.youtube::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f167';
}

.twitter::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f099';
}

.facebook::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f39e';
}

.gplus::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f2b3'
}

.pinterest::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f231'
}

.linkedin::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f0e1'
}

.dribbble::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f17d'
}

.stumbleupon::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f1a4'
}

.spotify::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f1bc'
}

.instagram::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f16d'
}

.soundcloud::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f1be'
}

.vimeo::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f27d'
}

.bitbucket::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f171'
}

.jsfiddle::before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f1cc'
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	padding: 0 20px
}

body {
	position: relative;
	height: 100%;
	width: 900px;
	margin: auto;
	padding: 0
}

.tmblr-iframe {
	right: 113px !important
}

#zti,
#lrn {
	top: 2px !important
}

a,
a:hover {
	word-wrap: break-word;
	text-decoration: none;
	cursor: pointer
}

img {
	max-width: 100%;
	display: block;
	-webkit-backface-visibility: hidden;
}

iframe,
figure {
	max-width: 100%;
	margin: auto
}

figure img {
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto!important
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	text-shadow: 0 1px 0 1px rgba(0, 0, 0, .3)
}

blockquote {
	margin: 0;
	padding: 0 0 0 15px;
	font-size: .9em;
	font-style: italic
}

a,
.like_button,
#A #SH input[type="text"],
#A #SH form input[type="text"]:focus::-webkit-input-placeholder,
.mfp-fade.mfp-bg,
.mfp-fade.mfp-wrap .mfp-content,
#TT {
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

#A #D,
#A #SH,
#A #N,
#Z-C,
.X .p .h_1,
.X .p .h_2,
.X .p .h_3,
.X .p a.n-1,
.X .p a.n-2,
.X a.G,
.X .p .photoset-grid img {
	transition: .6s
}

.like_button {
	position: absolute;
	opacity: 0
}

.like_button.liked {
	opacity: 1 !important
}

#A {
	position: fixed;
	top: 0;
	margin: 0 20px;
	padding: 30px 0;
	z-index: 10;
	transition: padding-top .6s
}

#A h1 {
	display: inline;
	margin: 0
}

#A img {
	position: absolute;
	height: 50px;
	margin: -15px 0 0
}

#A #D,
#A #SH,
#A #N {
	display: block;
	position: fixed;
	top: -84px;
	opacity: 0;
	padding: 30px 0;
	pointer-events: none
}

#A #N #L {
	display: inline
}

#A #N #L li {
	position: relative;
	display: inline-block;
	list-style-type: none
}

#A #N #L li a {
	display: block;
	cursor: pointer;
	margin: 0 30px 0 0;
	box-shadow: inset 0 3px transparent
}

#A #S {
	display: none;
	float: right;
	margin: -3px 0 0
}

#A #S a {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 0 0 15px;
	text-align: center;
	font: 14px/24px 'Font Awesome 5 Free';
	border-radius: 2px;
	opacity: .8
}

#A #SH form {
	position: relative;
	display: inline;
	border: 0
}

#A #SH form input[type="text"] {
	width: 100%;
	height: 55px;
	padding: 20px 50px;
	border: 0
}

#A #SH span {
	position: absolute;
	top: 0;
	left: 20px;
	font: 15px/13px 'Font Awesome 5 Free';
}

#A #SH form input[type="text"]:focus::-webkit-input-placeholder {
	opacity: 0
}

#A #SH form input[type="text"] {
	text-transform: uppercase;
	letter-spacing: 2px
}

#A #SH form input[type="text"]:focus {
	outline: 0
}

#A #D {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase
}

#A #D br {
	display: none
}

#A #B {
	display: inline;
	float: right;
	margin: 4px 0 0;
	z-index: 50
}

#A #B a {
	cursor: pointer;
	margin: 0 0 0 25px;
	font-size: 15px;
}

#A #D.slide,
#A #SH.slide,
#A #N.slide {
	top: 0;
	opacity: 1;
	pointer-events: auto
}

#A.slide-1,
#A.slide-3 {
	padding-top: 113px
}

#Z-C.slide-1,
#Z-C.slide-3 {
	padding-top: 85px;
	opacity: .3
}

#A.slide-2 {
	padding-top: 153px
}

#Z-C.slide-2 {
	padding-top: 125px;
	opacity: .3
}

#Z-C.slide-1 #F,
#Z-C.slide-2 #F,
#Z-C.slide-3 #F {
	pointer-events: auto
}

#Z-C {
	position: relative;
	margin: 120px 0 0
}

#F {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10
}

#G {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 1;
	pointer-events: none;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

#Z {
	margin: auto
}

body.q {
	width: 600px
}

body.q #A,
body.q #A #D,
body.q #A #SH,
body.q #A #N {
	width: 560px
}

body.w {
	width: 900px
}

body.w #A,
body.w #A #D,
body.w #A #SH,
body.w #A #N {
	width: 860px
}

body.e {
	width: 1200px
}

body.e #A,
body.e #A #D,
body.e #A #SH,
body.e #A #N {
	width: 1160px
}

#p-X,
.X {
	position: relative;
	overflow: hidden;
	width: 260px;
	margin: 0 20px 40px
}

.X.loading {
	pointer-events: none;
	opacity: 0
}

.X.loaded {
	pointer-events: auto;
	opacity: 1;
	transition: opacity 1s
}

#p-X {
	padding: 20px
}

#p-X h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px
}

.X.tag-large {
	width: 560px !important
}

.X .p-l,
.X.tag-large .p-s {
	display: none
}

.X.tag-large .p-l {
	display: block
}

.X .c {
	margin: 13px 0 0
}

.X .c:empty {
	display: none !important
}

.X .c p,
#P .p-b .c {
	margin: 0 0 10px
}

.X .c p:last-child,
#P .p-b .c p:last-child {
	margin: 0 !important
}

.X .m iframe {
	width: 100%;
	display: block
}

.X .p {
	position: relative
}

.X .p img {
	width: 100%
}

.X .p a.n-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 6
}

.X .p a.n-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 7
}

.X .p a.G {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	center no-repeat;
	background-size: cover;
	opacity: 0
}

.X .p a.n-2:active {
	opacity: 1 !important;
	-webkit-transition: all 0 ease;
	transition: all 0 ease
}

.X .p .h_1,
.X .p .h_2,
.X .p .h_3 {
	position: absolute;
	opacity: 0;
	z-index: 8
}

.X .p:hover .h_1,
.X .p:hover .h_2,
.X .p:hover .h_3 {
	opacity: 1
}

.X .p .h_1 {
	bottom: 18px;
	right: 18px
}

.X .p .h_1 a {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 0 0 0 2px;
	text-align: center;
	font: 12px/36px 'Font Awesome 5 Free';
}

.X .p .h_1 a .like_button {
	top: 3.5px;
	right: 11.5px
}

.X .p .h_1 a .like_button iframe {
	height: 16px
}

.X .p .h_2 {
	top: 50%;
	right: 50%;
	width: 90px;
	margin: -45px -45px 0 0
}

.X .p .h_2 .photoset-grid {
	position: absolute;
	bottom: 0;
	right: -45px
}

.X .p .h_2 a {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 0;
	text-align: center;
	font: 15px/45px 'Font Awesome 5 Free';
}

.X .p .h_2 a .like_button {
	top: 2px;
	right: 16px
}

.X .p .h_3 {
	width: 140px;
	top: 50%;
	left: 50%;
	margin: -63px 0 0 -70px
}

.X .p .h_3 a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 10px/42px "Source Sans Pro", sans-serif
}

.X .p .h_3 a.t-1,
.X .p .h_3 a.t-2,
.X .p .h_3 a.t-3 {
	opacity: 0
}

.X .p .h_3 a.t-1 {
	-webkit-transition: opacity .6s ease .1s, background .3s ease;
	opacity .6s ease .1s,
	background .3s ease
}

.X .p .h_3 a.t-2 {
	-webkit-transition: opacity .6s ease .3s, background .3s ease;
	opacity .6s ease .3s,
	background .3s ease
}

.X .p .h_3 a.t-3 {
	-webkit-transition: opacity .6s ease .5s, background .3s ease;
	opacity .6s ease .5s,
	background .3s ease
}

.X .p:hover .h_3 a.t-1,
.X .p:hover .h_3 a.t-2,
.X .p:hover .h_3 a.t-3 {
	opacity: 1
}

.X .p .photoset-grid img:hover {
	opacity: .7
}

.X .photo-post .d {
	display: none
}

.X .t,
.X .c {
	padding: 20px
}

.X .d {
	padding: 12px 3px;
	margin: 3px 0 0
}

.X .d,
.X .d a,
#P .p-b .d,
#P .p-b .d a {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font: 10px/20px "Source Sans Pro", sans-serif
}

.X .d a,
#P .p-b .d a {
	padding: 0 10px
}

.X .d a:last-child,
#P .p-b .d a:last-child {
	border-right: 0 !important
}

.X .t.ct li {
	margin: 0 0 12px;
	padding: 0 0 12px;
	list-style-type: none
}

.X .t.ct li:last-child {
	margin: 0;
	padding: 0;
	border-bottom: 0
}

.X .t h2 a.link {
	display: block
}

.X .t h2 a.link:hover {
	opacity: .7
}

.X .t .q {
	margin: 0 0 15px;
	padding: 0 0 15px
}

.X .t .q h3 {
	text-transform: uppercase;
	text-align: justify;
	font-size: 10px
}

.X .qt h3 {
	font-weight: 400;
	line-height: 1.6em
}

.X .t .qt-s {
	position: absolute;
	top: -13px;
	left: 15px;
	font: 160px "arial";
	opacity: .1
}

.X .t .sc {
	margin: 20px 0 0 0;
	text-align: right
}

#PG {
	width: 100%;
	margin: auto;
	padding: 60px 0 90px;
	text-align: center;
	z-index: 30
}

#PG:after {
	content: " ";
	display: block;
	height: 0;
	clear: both
}

#PG a {
	display: inline;
	padding: 20px;
	margin: 0 20px;
	text-align: center;
	text-transform: uppercase
}

#PG a#newer {
	float: left
}

#PG a#older {
	float: right
}

body#P {
	width: 900px !important
}

body#P #Z,
body#P #A,
body#P #A #D,
body#P #A #SH,
body#P #A #N {
	width: 860px !important
}

#P .X {
	display: block;
	float: left;
	width: 500px !important;
	margin: 0
}

#p-sidebar {
	float: right;
	width: 320px
}

#P .p-b {
	margin: 0 0 40px;
	padding: 20px
}

#P .p-b .c {
	Margin: 0 0 20px
}

#P .p-b .d {
	text-align: left !important
}

#P .p-b .d a:first-child {
	padding: 0 10px 0 0
}

#P .p-b ol.notes {
	margin: 0 -3px 0 0;
	padding: 0;
	list-style-type: none
}

#P .p-b ol.notes li.note {
	float: left;
	overflow: hidden;
	width: 17px;
	height: 17px;
	margin: 4px
}

#P .p-b ol.notes li.note img.avatar {
	height: 17px;
	width: 17px;
	padding: 0;
	vertical-align: -4px
}

#P .p-b ol.notes li.more_notes_link_container {
	display: block !important
}

#P .p-b ol.notes li.more_notes_link_container,
#P .p-b ol.notes li.more_notes_link_container a.more_notes_link {
	width: 280px !important;
	height: auto !important;
	overflow: visible !important;
	margin: 15px 0 0;
	padding: 15px 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left !important
}

#P .p-b ol.notes li.more_notes_link_container {
	border-top:1px solid {
		color: Dividers
	}
}

#P .p-b ol.notes li.more_notes_link_container,
#P .p-b ol.notes li.more_notes_link_container a.more_notes_link {
	font:10px {
		select: Title Font
	}
	;
	color: {
		color: Post Text
	}
}

#Z {
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s
}

#saki {
	top: 3px !important
}

#infscr-loading {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin: 0 0 0 -27px;
	z-index: 9
}

#infscr-loading img {
	padding: 15px
}

#loading {
	position: absolute;
	width: 36px;
	height: 36px;
	top: 300px;
	left: 50%;
	margin: -20px 0 0 -19px;
	border-radius: 4px;
	z-index: 100;
	background: url('https://static.tumblr.com/3zmswwt/ugMo5nptn/712.gif') no-repeat center/30px #fff;
	opacity: 1;
	filter: alpha(opacity=0)
}

#TT {
	cursor: pointer;
	position: fixed;
	height: 23px;
	width: 23px;
	bottom: 31px;
	right: 3px;
	background: url(https://static.tumblr.com/3zmswwt/9u3o5npjp/tt.png) 5px 5px/11px no-repeat rgba(0, 0, 0, .37);
	border: 1px solid rgba(0, 0, 0, 0.18);
	opacity: 1;
	z-index: 40;
	border-radius: 1px
}

#TT:hover {
	background-color: rgba(0, 0, 0, .6)!important
}

#infscr-loading {
	bottom: 28px;
	position: fixed;
	right: 3px
}